@import "./variables.scss";

@mixin max($media) {
    @media only screen and (max-width: $media) {
      -webkit-min-device-pixel-ratio: 2;
      @content;
    }
  }
  
  @mixin min($media) {
    @media only screen and (min-width: $media) {
      -webkit-min-device-pixel-ratio: 2;
      @content;
    }
  }
  
  @mixin minmax($min, $max) {
    @media only screen and (min-width: $min) and (max-width: $max) {
      -webkit-min-device-pixel-ratio: 2;
      @content;
    }
  }

