@import "./fonts/stylesheets.css";
@import "@mdi/font/css/materialdesignicons.css";
@import "./variables.scss";

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Conv_CONSOLA;
    overflow: hidden;  
    scrollbar-width: none;
    &::-webkit-scrollbar {
      display: none;
    }
    &::-moz-scrollbar {
      display: none;
      width: 0;
    }
}

.v-application{
  background-color: $background-color !important;
}


