$body-font-family: "Conv_CONSOLA";
$main-color: #1E1E1E;
$background-color: #1E1E1E;
$first-link-color: #01D306;
$second-link-color: #FFD645;
$first-text-color: #f0f0f0;

@import "~vuetify/src/styles/styles.sass";  